__pycache__/
build/
perf2html_baseline_report/
perf2html_baseline_report.txz
perf2html_diff_report/
perf2html_diff_report.txz
perf2html_modified_report/
perf2html_modified_report.txz
perf2html_temporary_artifacts/
screenshots/
screenshots-gold/
tmp/
test_expected_behavior.md
/test_index.html
